.container {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.yarlblk {
  width: 50px;
  height: 50px;
  position: relative;
  top: 5px;
  left: -5px;
}

.label {
  width: 85px;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  transition: 0.2s;
  user-select: none;
  color: white;
  text-shadow: 2px 2px rgb(1 1 1 / 67%);
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.label:hover {
  background-color: rgba(31, 120, 245, 0.741);
  cursor: url('/assets/cursor-pointer.png'), pointer;
}

.title {
  margin-top: 5px;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.image {
  height: 50px;
  width: 50px;
  border-radius: 8px;
}