.leftPart {
  display: flex;
}

.icon {
  min-width: 21px;
  min-height: 21px;
  margin-right: 6px;
  background-repeat: no-repeat;
}

.button {
  flex-basis: 180px;
  min-width: 10px;
  margin-right: 2px;
  padding-right: 15px;
  margin-top: 4px;
  height: 85%;
  margin-bottom: 4px;
  background: linear-gradient(90deg,rgb(54,124,226),rgb(54,124,226) 5%,rgb(54,124,226) 88%,rgb(54,124,226) 93%,rgb(54,124,226) 95%,rgb(54,124,226) 98%,rgb(54,124,226));
  border-radius: 5px;
  border: 1px solid #3565d9;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
  user-select: none;
  cursor: url('/assets/cursor-pointer.png'), pointer;
  text-overflow: ellipsis;
}

.buttonActive {
  flex-basis: 180px;
  min-width: 10px;
  margin-right: 2px;
  margin-top: 4px;
  padding-right: 15px;
  height: 85%;
  margin-bottom: 4px;
  background: linear-gradient(180deg,#1508c9,#0018ee 8%,#001bee 40%,#002bff 88%,#002bff 93%,#002bff 95%,#0018ee 96%,#0018ee);
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
  user-select: none;
  cursor: url('/assets/cursor-pointer.png'), pointer;
  text-overflow: ellipsis;
}

.container {
  height: 40px;
  width: 100vw;
  position: fixed;
  z-index: 1111;
  bottom: 0;
  background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
} 

.start {
  width: 125px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 50%;
  box-shadow: none;
  background-color: transparent;
  transition: background .1s;
  border: none; 
  padding: 0;
}

.start:hover {
  cursor: url('/assets/cursor-pointer.png'), pointer;
}

.wallpaper {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.langs {
  width: 25px;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: auto;
  height: 100%;
  color: white;
  user-select: none;
  transition: 0.1s;
  padding-left: 5px;
  border-radius: 3px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.langs:hover {
  cursor: url('/assets/cursor-pointer.png'), pointer;
  background-color: rgba(256, 256, 256, 0.2);
  box-shadow: inset -2px -2px 1px 2px rgb(0 0 0 / 14%), inset 2px 3px 2px 2px rgb(255 255 255 / 14%), inset 2px 2px 2px 2px rgb(255 255 255 / 14%);
}

.choiceLang {
  background-color: rgb(236, 233, 216);
  position: absolute;
  width: 130px;
  height: 60px;
  top: -55px;
  right: 30px;
}

.link {
  color: rgb(34,34,34);
  text-decoration: none;
  cursor: url('/assets/cursor-pointer.png'), pointer;
}

.linkSelect {
  color: rgb(34,34,34);
  text-decoration: none;
  cursor: url('/assets/cursor-pointer.png'), pointer;
}

.linkSelect:before {
  color: rgb(34,34,34);
  content: "✓";
  width: 10px;
  margin-right: 2px;
  height: 10px;
  cursor: url('/assets/cursor-pointer.png'), pointer;
}

.li {
  list-style-type: none;
  height: 30px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.li:hover {
  background-color:rgba(49, 120, 220, 0.351);
  border: 1px solid #0050ee;
  cursor: url('/assets/cursor-pointer.png'), pointer;
}

.p {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  padding: 5px; /* Поля вокруг текста */
  text-overflow: ellipsis; /* Добавляем многоточие */
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.startDiv {
  width: 70%;
  height: 50%;
  position: fixed;
  background-color: rgb(236, 233, 216);
  bottom: 40px;
  left: 0;
  max-width: 500px;
  max-height: 600px;
}

.startContainer {
  background-color: rgb(236, 233, 216);
  position: absolute;
  width: 540px;
  height: 680px;
  max-width: 90%;
  max-height: 80vh;
  bottom: 40px;
  left: 0px;
  overflow: auto;
}

.titleBar {
  background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
  padding: 3px 5px 3px 3px;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  font-size: 13px;
  text-shadow: 1px 1px #0f1089;
  height: 50px;
  display: flex;
  align-items: center;
  user-select: none;
}